In [1]:
# csv 형태의 데이터를 로드
# csv 데이터는 tf.data.Dataset에서 제공됨

In [2]:
from __future__ import absolute_import, division, print_function, unicode_literals
import functools

In [3]:
import numpy as np
import tensorflow as tf

In [4]:
# data 로드 부분
# 훈련, 테스트 데이터 주소 설정
# 훈련, 테스트 데이터의 이름을 설정
# 다운 받는 위치는 user/이름/.keras/datasets

TRAIN_DATA_URL = "https://storage.googleapis.com/tf-datasets/titanic/train.csv"
TEST_DATA_URL = "https://storage.googleapis.com/tf-datasets/titanic/eval.csv"

train_file_path = tf.keras.utils.get_file('train.csv', TRAIN_DATA_URL)
test_file_path = tf.keras.utils.get_file('test.csv', TEST_DATA_URL)

In [5]:
# numpy 값들을 읽기 편하게 변환
# numpy의 출력 옵션을 변환하는 것으로 소수점 3째자리까지 표현하게 바꾼다.
np.set_printoptions(precision=3, suppress=True)

In [6]:
# 훈련데이터의 상위 몇개만 출력
# 데이터는 승객들에 대한 데이터로 생존 가능성을 본다

import pandas as pd
train_file = pd.read_csv(train_file_path)
train_file.head()

,survived,sex,age,n_siblings_spouses,parch,fare,class,deck,embark_town,alone
0,0,male,22.0,1,0,7.2500,Third,unknown,Southampton,n
1,1,female,38.0,1,0,71.2833,First,C,Cherbourg,n
2,1,female,26.0,0,0,7.9250,Third,unknown,Southampton,y
3,1,female,35.0,1,0,53.1000,First,C,Southampton,n
4,0,male,28.0,0,0,8.4583,Third,unknown,Queenstown,y

In [7]:
# 살아남았는지 아닌지를 0과 1로 표현한다.
LABEL_COLUMN = 'survived'
LABELS = [0,1]

In [8]:
# **kwargs는 키워드 = 특정 값 형태로 함수를 호출할 수 있음
# get_dataset 함수는 tf.data.experimental.make_csv_datatset을 이용하여 csv 파일을 적절히 가공하여 불러온다.
# batch_size를 이용하면 data를 작게 분할해준다.
# 라벨의 이름과(여기서는 survived) 값들을 추가
# 누락된 정보는 ?로 나타냄

# **kwargs에 대해서 좀더 알아보기
# 사용방법 등

def get_dataset(file_path, **kwargs):
    dataset = tf.data.experimental.make_csv_dataset(
    file_path,
    batch_size = 5,
    label_name = LABEL_COLUMN,
    na_value="?",
    num_epochs = 1,
    ignore_errors = True,
    **kwargs)
    return dataset

raw_train_data = get_dataset(train_file_path)
raw_test_data = get_dataset(test_file_path)

WARNING:tensorflow:From C:\Users\tjsxo\Anaconda3\envs\tutorial\lib\site-packages\tensorflow_core\python\data\experimental\ops\readers.py:521: parallel_interleave (from tensorflow.python.data.experimental.ops.interleave_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use `tf.data.Dataset.interleave(map_func, cycle_length, block_length, num_parallel_calls=tf.data.experimental.AUTOTUNE)` instead. If sloppy execution is desired, use `tf.data.Options.experimental_determinstic`.

In [9]:
# 가져온 데이터를 보여주는 함수
# 배치 크기만큼 데이터를 보여준다. (위에서 batch 크기를 5로 하였으므로 5명데 대한 정보를 보여줌)
def show_batch(dataset):
    for batch, label in dataset.take(1):
        for key, value in batch.items():
            print("{:20s}: {}".format(key,value.numpy()))

In [10]:
show_batch(raw_train_data)

sex                 : [b'male' b'male' b'female' b'male' b'female']
age                 : [50. 28. 24. 28. 39.]
n_siblings_spouses  : [0 8 0 3 1]
parch               : [0 2 0 1 1]
fare                : [13.    69.55  83.158 25.467 79.65 ]
class               : [b'Second' b'Third' b'First' b'Third' b'First']
deck                : [b'unknown' b'unknown' b'C' b'unknown' b'E']
embark_town         : [b'Southampton' b'Southampton' b'Cherbourg' b'Southampton' b'Southampton']
alone               : [b'y' b'n' b'y' b'n' b'n']

In [11]:
# csv의 컬럼 이름을 정한 상태로 볼수 도 있다.
CSV_COLUMNS = ['survived', 'sex', 'age', 'n_siblings_spouses', 'parch', 'fare', 'class', 'deck', 'embark_town', 'alone']

temp_dataset = get_dataset(train_file_path, column_names=CSV_COLUMNS)

show_batch(temp_dataset)

sex                 : [b'male' b'male' b'female' b'female' b'female']
age                 : [59. 21. 25. 25. 24.]
n_siblings_spouses  : [0 0 1 1 1]
parch               : [0 0 2 1 2]
fare                : [  7.25    7.796 151.55   30.     65.   ]
class               : [b'Third' b'Third' b'First' b'Second' b'Second']
deck                : [b'unknown' b'unknown' b'C' b'unknown' b'unknown']
embark_town         : [b'Southampton' b'Southampton' b'Southampton' b'Southampton'
 b'Southampton']
alone               : [b'y' b'y' b'n' b'n' b'n']

In [12]:
# 컬럼을 정해서 볼 수 있다
SELECT_COLUMNS = ['survived', 'age', 'n_siblings_spouses', 'class', 'deck', 'alone']

temp_dataset = get_dataset(train_file_path, select_columns=SELECT_COLUMNS)

show_batch(temp_dataset)

age                 : [28.   2.  30.5 28.  27. ]
n_siblings_spouses  : [0 0 0 0 0]
class               : [b'First' b'Third' b'Third' b'Third' b'Third']
deck                : [b'unknown' b'unknown' b'unknown' b'unknown' b'unknown']
alone               : [b'y' b'n' b'y' b'y' b'y']

In [13]:
# 데이터 전처리
# 이미 데이터가 numeric 데이터일 경우

# 선택한 항목들은 모두 numeric 항목들이다.
SELECT_COLUMNS = ['survived', 'age', 'n_siblings_spouses', 'parch', 'fare']
DEFAULTS = [0, 0.0, 0.0, 0.0, 0.0]
temp_dataset = get_dataset(train_file_path,
                          select_columns=SELECT_COLUMNS,
                          column_defaults = DEFAULTS)
show_batch(temp_dataset)

age                 : [26. 27. 28. 50. 36.]
n_siblings_spouses  : [0. 0. 1. 0. 0.]
parch               : [0. 0. 0. 0. 0.]
fare                : [ 8.05  76.729 15.5   28.712  7.496]

In [14]:
# iter -> 특정값을 지정하면 특정값이 나올때까지 반복한다
# next -> iter를 반복하게 해준다.
example_batch, labels_batch = next(iter(temp_dataset))

In [15]:
# 값들과 라벨들을 한곳에 묶는 함수.
def pack(features, label):
    return tf.stack(list(features.values()), axis=-1), label

In [16]:
packed_dataset = temp_dataset.map(pack)

# 받아온 데이터를 보여줌
for features, labels in packed_dataset.take(1):
    print(features.numpy())
    print()
    print(labels.numpy())

[[ 28.      0.      0.      7.896]
 [ 21.      0.      0.      7.925]
 [ 23.      1.      0.    113.275]
 [ 14.      1.      0.     30.071]
 [ 29.      1.      0.      7.046]]

[0 0 1 1 0]

In [17]:
show_batch(raw_train_data)

sex                 : [b'female' b'female' b'male' b'female' b'female']
age                 : [24. 35. 28. 28. 30.]
n_siblings_spouses  : [1 1 8 0 1]
parch               : [2 1 2 0 1]
fare                : [65.   20.25 69.55  8.05 24.15]
class               : [b'Second' b'Third' b'Third' b'Third' b'Third']
deck                : [b'unknown' b'unknown' b'unknown' b'unknown' b'unknown']
embark_town         : [b'Southampton' b'Southampton' b'Southampton' b'Southampton'
 b'Southampton']
alone               : [b'n' b'n' b'n' b'y' b'n']

In [18]:
example_batch, labels_batch = next(iter(temp_dataset))

In [19]:
# 위의 전처리 함수는 형식이 다른 함수를 사용할 경우 오버헤드가 생길 수 있으므로 개별적으로 전처리해주는 calss 생성
# numeric 데이터와 아닌것을 분해해서 묶어주는 class 생성

class PackNumericFeatures(object):
    def __init__(self, names):
        self.names = names

    def __call__(self, features, labels):
        numeric_features = [features.pop(name) for name in self.names]
        numeric_features = [tf.cast(feat, tf.float32) for feat in numeric_features]
        numeric_features = tf.stack(numeric_features, axis=-1)
        features['numeric'] = numeric_features

        return features, labels

In [20]:
NUMERIC_FEATRUES = ['age','n_siblings_spouses','parch', 'fare']

packed_train_data = raw_train_data.map(
PackNumericFeatures(NUMERIC_FEATRUES))

packed_test_data = raw_test_data.map(
PackNumericFeatures(NUMERIC_FEATRUES))

In [21]:
show_batch(packed_train_data)

sex                 : [b'male' b'female' b'male' b'male' b'male']
class               : [b'Third' b'Third' b'Third' b'Third' b'Third']
deck                : [b'unknown' b'unknown' b'unknown' b'unknown' b'unknown']
embark_town         : [b'Southampton' b'Southampton' b'Southampton' b'Southampton'
 b'Southampton']
alone               : [b'y' b'y' b'n' b'y' b'y']
numeric             : [[43.     0.     0.     8.05 ]
 [28.     0.     0.     7.896]
 [16.     4.     1.    39.688]
 [55.5    0.     0.     8.05 ]
 [32.     0.     0.     7.896]]

In [22]:
example_batch, labels_batch = next(iter(packed_train_data))

In [23]:
import pandas as pd
# pandas를 사용한 정보 분석
desc = pd.read_csv(train_file_path)[NUMERIC_FEATRUES].describe()
desc

              age  n_siblings_spouses       parch        fare
count  627.000000          627.000000  627.000000  627.000000
mean    29.631308            0.545455    0.379585   34.385399
std     12.511818            1.151090    0.792999   54.597730
min      0.750000            0.000000    0.000000    0.000000
25%     23.000000            0.000000    0.000000    7.895800
50%     28.000000            0.000000    0.000000   15.045800
75%     35.000000            1.000000    0.000000   31.387500
max     80.000000            8.000000    5.000000  512.329200

In [24]:
# 평균과 표준편차 값을 따로 저장
MEAN = np.array(desc.T['mean'])
STD = np.array(desc.T['std'])

In [25]:
def normalize_numeric_data(data, mean, std):
    # 데이터의 중간값을 계산
    return (data-mean)/std

In [30]:
normalizer = functools.partial(normalize_numeric_data, mean=MEAN, std=STD)

numeric_column = tf.feature_column.numeric_column('numeric', normalizer_fn=normalizer, shape=[len(NUMERIC_FEATRUES)])
numeric_columns = [numeric_column]
numeric_column

NumericColumn(key='numeric', shape=(4,), default_value=None, dtype=tf.float32, normalizer_fn=functools.partial(<function normalize_numeric_data at 0x00000211C640B948>, mean=array([29.631,  0.545,  0.38 , 34.385]), std=array([12.512,  1.151,  0.793, 54.598])))

In [31]:
# exaple_batch에서 numeric 항목을 보여준다.
example_batch['numeric']

<tf.Tensor: id=550, shape=(5, 4), dtype=float32, numpy=
array([[34.   ,  1.   ,  0.   , 21.   ],
       [32.   ,  0.   ,  0.   ,  7.854],
       [51.   ,  0.   ,  0.   , 26.55 ],
       [37.   ,  2.   ,  0.   ,  7.925],
       [24.   ,  0.   ,  2.   , 16.7  ]], dtype=float32)>

In [32]:
numeric_layer = tf.keras.layers.DenseFeatures(numeric_columns)
numeric_layer(example_batch).numpy()

array([[ 0.349,  0.395, -0.479, -0.245],
       [ 0.189, -0.474, -0.479, -0.486],
       [ 1.708, -0.474, -0.479, -0.144],
       [ 0.589,  1.264, -0.479, -0.485],
       [-0.45 , -0.474,  2.043, -0.324]], dtype=float32)

In [33]:
# categoical 데이터를 따로 전처리함

CATEGORIES = {
    'sex': ['male', 'female'],
    'class' : ['First', 'Second', 'Third'],
    'deck' : ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'],
    'embark_town' : ['Cherbourg', 'Southhampton', 'Queenstown'],
    'alone' : ['y', 'n']
}

In [35]:
categorical_columns = []
for feature, vocab in CATEGORIES.items():
  cat_col = tf.feature_column.categorical_column_with_vocabulary_list(
        key=feature, vocabulary_list=vocab)
  categorical_columns.append(tf.feature_column.indicator_column(cat_col))
    
categorical_columns

[IndicatorColumn(categorical_column=VocabularyListCategoricalColumn(key='sex', vocabulary_list=('male', 'female'), dtype=tf.string, default_value=-1, num_oov_buckets=0)),
 IndicatorColumn(categorical_column=VocabularyListCategoricalColumn(key='class', vocabulary_list=('First', 'Second', 'Third'), dtype=tf.string, default_value=-1, num_oov_buckets=0)),
 IndicatorColumn(categorical_column=VocabularyListCategoricalColumn(key='deck', vocabulary_list=('A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'), dtype=tf.string, default_value=-1, num_oov_buckets=0)),
 IndicatorColumn(categorical_column=VocabularyListCategoricalColumn(key='embark_town', vocabulary_list=('Cherbourg', 'Southhampton', 'Queenstown'), dtype=tf.string, default_value=-1, num_oov_buckets=0)),
 IndicatorColumn(categorical_column=VocabularyListCategoricalColumn(key='alone', vocabulary_list=('y', 'n'), dtype=tf.string, default_value=-1, num_oov_buckets=0))]

In [36]:
categorical_layer = tf.keras.layers.DenseFeatures(categorical_columns)
print(categorical_layer(example_batch).numpy()[0])

WARNING:tensorflow:From C:\Users\tjsxo\Anaconda3\envs\tutorial\lib\site-packages\tensorflow_core\python\feature_column\feature_column_v2.py:4276: IndicatorColumn._variable_shape (from tensorflow.python.feature_column.feature_column_v2) is deprecated and will be removed in a future version.
Instructions for updating:
The old _FeatureColumn APIs are being deprecated. Please use the new FeatureColumn APIs instead.
WARNING:tensorflow:From C:\Users\tjsxo\Anaconda3\envs\tutorial\lib\site-packages\tensorflow_core\python\feature_column\feature_column_v2.py:4331: VocabularyListCategoricalColumn._num_buckets (from tensorflow.python.feature_column.feature_column_v2) is deprecated and will be removed in a future version.
Instructions for updating:
The old _FeatureColumn APIs are being deprecated. Please use the new FeatureColumn APIs instead.
[0. 1. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0.]

In [38]:
# 전처리한 두 레이어를 합친다
preprocessing_layer = tf.keras.layers.DenseFeatures(categorical_columns+numeric_columns)

In [40]:
print(preprocessing_layer(example_batch).numpy()[0])

[ 0.     1.     0.     1.     0.     0.     0.     0.     0.     0.
  0.     0.     0.     0.     0.     0.     0.     0.     0.349  0.395
 -0.479 -0.245  1.     0.   ]

In [41]:
# 모델 생성
model = tf.keras.Sequential([
  preprocessing_layer,
  tf.keras.layers.Dense(128, activation='relu'),
  tf.keras.layers.Dense(128, activation='relu'),
  tf.keras.layers.Dense(1, activation='sigmoid'),
])

model.compile(
    loss='binary_crossentropy',
    optimizer='adam',
    metrics=['accuracy'])

In [42]:
# 훈련 데이터는 무작위로 섞음
train_data = packed_train_data.shuffle(500)
test_data = packed_test_data

In [43]:
# 훈련 시작
model.fit(train_data, epochs=20)

Epoch 1/20
126/126 [==============================] - 3s 23ms/step - loss: 0.5028 - accuracy: 0.7512
Epoch 2/20
126/126 [==============================] - 1s 5ms/step - loss: 0.4186 - accuracy: 0.8214
Epoch 3/20
126/126 [==============================] - 1s 5ms/step - loss: 0.4007 - accuracy: 0.8341
Epoch 4/20
126/126 [==============================] - 1s 5ms/step - loss: 0.4043 - accuracy: 0.8373
Epoch 5/20
126/126 [==============================] - 1s 6ms/step - loss: 0.3797 - accuracy: 0.8341
Epoch 6/20
126/126 [==============================] - 1s 5ms/step - loss: 0.3661 - accuracy: 0.8357
Epoch 7/20
126/126 [==============================] - 1s 6ms/step - loss: 0.3687 - accuracy: 0.8453
Epoch 8/20
126/126 [==============================] - 1s 6ms/step - loss: 0.3548 - accuracy: 0.8549
Epoch 9/20
126/126 [==============================] - 1s 6ms/step - loss: 0.3596 - accuracy: 0.8469
Epoch 10/20
126/126 [==============================] - 1s 5ms/step - loss: 0.3470 - accuracy: 0.8469
Epoch 11/20
126/126 [==============================] - 1s 5ms/step - loss: 0.3507 - accuracy: 0.8469
Epoch 12/20
126/126 [==============================] - 1s 5ms/step - loss: 0.3294 - accuracy: 0.8565
Epoch 13/20
126/126 [==============================] - 1s 5ms/step - loss: 0.3213 - accuracy: 0.8612
Epoch 14/20
126/126 [==============================] - 1s 5ms/step - loss: 0.3190 - accuracy: 0.8628
Epoch 15/20
126/126 [==============================] - 1s 6ms/step - loss: 0.3122 - accuracy: 0.8788
Epoch 16/20
126/126 [==============================] - 1s 5ms/step - loss: 0.3169 - accuracy: 0.8612
Epoch 17/20
126/126 [==============================] - 1s 5ms/step - loss: 0.3208 - accuracy: 0.8724
Epoch 18/20
126/126 [==============================] - 1s 5ms/step - loss: 0.3043 - accuracy: 0.8692
Epoch 19/20
126/126 [==============================] - 1s 5ms/step - loss: 0.3100 - accuracy: 0.8644
Epoch 20/20
126/126 [==============================] - 1s 5ms/step - loss: 0.3085 - accuracy: 0.8724

In [44]:
# 훈련결과를 표시 -> 정확도와 loss 값을 보여준다.
test_loss, test_accuracy = model.evaluate(test_data)

print('\n\nTest Loss {}, Test Accuracy {}'.format(test_loss, test_accuracy))

53/53 [==============================] - 1s 15ms/step - loss: 0.5256 - accuracy: 0.8030


Test Loss 0.5255785673716158, Test Accuracy 0.8030303120613098

In [45]:
# 0으로 예측하면 죽음 1로 에측하면 생존으로 판별
predictions = model.predict(test_data)

# Show some results
for prediction, survived in zip(predictions[:10], list(test_data)[0][1][:10]):
    print("Predicted survival: {:.2%}".format(prediction[0]),
" | Actual outcome: ",
("SURVIVED" if bool(survived) else "DIED"))

Predicted survival: 66.62%  | Actual outcome:  DIED
Predicted survival: 92.02%  | Actual outcome:  DIED
Predicted survival: 69.04%  | Actual outcome:  SURVIVED
Predicted survival: 7.36%  | Actual outcome:  DIED
Predicted survival: 7.67%  | Actual outcome:  SURVIVED