In [1]:
# Load a pandas.DataFrame
# pandas data is getted by tf.data.Dataset

In [2]:
from __future__ import absolute_import, division, print_function, unicode_literals

# pandas는 pandas 데이터를 
import pandas as pd
import tensorflow as tf

In [3]:
# Csv_file get from URL
# This csv file is data regarding of heart disease
csv_file = tf.keras.utils.get_file('heart.csv', 'https://storage.googleapis.com/applied-dl/heart.csv')

In [4]:
# Pandas를 이용해서 csv파일을 읽어들임
df = pd.read_csv(csv_file)

In [5]:
# 읽은 파일의 최상의 5개를 띄워줌
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,1,145,233,1,2,150,0,2.3,3,0,fixed,0
1,67,1,4,160,286,0,2,108,1,1.5,2,3,normal,1
2,67,1,4,120,229,0,2,129,1,2.6,2,2,reversible,0
3,37,1,3,130,250,0,0,187,0,3.5,3,0,normal,0
4,41,0,2,130,204,0,2,172,0,1.4,1,0,normal,0

In [6]:
# 읽은 데이터 속성의 타입 출력
df.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal         object
target        int64
dtype: object

In [7]:
# pd.Categorical change column`s type to category
# df['thal']`s type = object -> category -> int8(numeric)
# 즉 thal 속성의 값들을 숫자로 치환하는 방법이다. ex) fixed -> 2, normal -> 3 
df['thal'] = pd.Categorical(df['thal'])
df['thal'] = df.thal.cat.codes

In [8]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,1,145,233,1,2,150,0,2.3,3,0,2,0
1,67,1,4,160,286,0,2,108,1,1.5,2,3,3,1
2,67,1,4,120,229,0,2,129,1,2.6,2,2,4,0
3,37,1,3,130,250,0,0,187,0,3.5,3,0,3,0
4,41,0,2,130,204,0,2,172,0,1.4,1,0,3,0

In [9]:
# Seperate target column
target = df.pop('target')

In [10]:
# Create dataset of tensor
dataset = tf.data.Dataset.from_tensor_slices((df.values, target.values))

In [11]:
# show 5 datas from dataset
for feat, targ in dataset.take(5):
    print('Features" {}, Target: {}'.format(feat, targ))

Features" [ 63.    1.    1.  145.  233.    1.    2.  150.    0.    2.3   3.    0.
   2. ], Target: 0
Features" [ 67.    1.    4.  160.  286.    0.    2.  108.    1.    1.5   2.    3.
   3. ], Target: 1
Features" [ 67.    1.    4.  120.  229.    0.    2.  129.    1.    2.6   2.    2.
   4. ], Target: 0
Features" [ 37.    1.    3.  130.  250.    0.    0.  187.    0.    3.5   3.    0.
   3. ], Target: 0
Features" [ 41.    0.    2.  130.  204.    0.    2.  172.    0.    1.4   1.    0.
   3. ], Target: 0

In [12]:
# show thal column`s tensor datas with tf.constant
# tf.constant create tensor from tensor-like-object
tf.constant(df['thal'])

<tf.Tensor: id=21, shape=(303,), dtype=int32, numpy=
array([2, 3, 4, 3, 3, 3, 3, 3, 4, 4, 2, 3, 2, 4, 4, 3, 4, 3, 3, 3, 3, 3,
       3, 4, 4, 3, 3, 3, 3, 4, 3, 4, 3, 4, 3, 3, 4, 2, 4, 3, 4, 3, 4, 4,
       2, 3, 3, 4, 3, 3, 4, 3, 3, 3, 4, 3, 3, 3, 3, 3, 3, 4, 4, 3, 3, 4,
       4, 2, 3, 3, 4, 3, 4, 3, 3, 4, 4, 3, 3, 4, 4, 3, 3, 3, 3, 4, 4, 4,
       3, 3, 4, 3, 4, 4, 3, 4, 3, 3, 3, 4, 3, 4, 4, 3, 3, 4, 4, 4, 4, 4,
       3, 3, 3, 3, 4, 3, 4, 3, 4, 4, 3, 3, 2, 4, 4, 2, 3, 3, 4, 4, 3, 4,
       3, 3, 4, 2, 4, 4, 3, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4,
       4, 3, 3, 3, 4, 3, 4, 3, 4, 3, 3, 3, 3, 3, 3, 3, 4, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 4, 4, 3, 3, 3, 3, 3, 3, 3, 3, 4, 3, 4, 3, 2,
       4, 4, 3, 3, 3, 3, 3, 3, 4, 3, 3, 3, 3, 3, 2, 2, 4, 3, 4, 2, 4, 3,
       3, 4, 3, 3, 3, 3, 4, 3, 4, 3, 4, 2, 2, 4, 3, 4, 3, 2, 4, 3, 3, 2,
       4, 4, 4, 4, 3, 0, 3, 3, 3, 3, 1, 4, 3, 3, 3, 4, 3, 4, 3, 3, 3, 4,
       3, 3, 4, 4, 4, 4, 3, 3, 4, 3, 4, 3, 4, 4, 3, 4, 4, 3, 4, 4, 3, 3,
       3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 3, 2, 4, 4, 4, 4])>

In [13]:
train_dataset = dataset.shuffle(len(df)).batch(1)

In [14]:
# create model
def get_compiled_model():
    # model은 심장병을 가졌는지 아닌지만을 판별하는 이진 문제이다.
    model = tf.keras.Sequential([
        tf.keras.layers.Dense(10, activation='relu'),
        tf.keras.layers.Dense(10, activation='relu'),
        tf.keras.layers.Dense(1)
    ])
    
    model.compile(optimizer='adam',
                 loss=tf.keras.losses.BinaryCrossentropy(from_logits=True),
                 metrics=['accuracy'])
    return model

In [15]:
model = get_compiled_model()

In [16]:
import os
if os.path.isfile('./weights/heart.index'):
    model.load_weights('./weights/heart.index')
else:
    model.fit(train_dataset, epochs=15)
    model.save_weights('./weights/heart')

WARNING:tensorflow:Layer sequential is casting an input tensor from dtype float64 to the layer's dtype of float32, which is new behavior in TensorFlow 2.  The layer has dtype float32 because it's dtype defaults to floatx.

If you intended to run this layer in float32, you can safely ignore this warning. If in doubt, this warning is likely only an issue if you are porting a TensorFlow 1.X model to TensorFlow 2.

To change all layers to have dtype float64 by default, call `tf.keras.backend.set_floatx('float64')`. To change just this layer, pass dtype='float64' to the layer constructor. If you are the author of this layer, you can disable autocasting by passing autocast=False to the base Layer constructor.

Epoch 1/15
303/303 [==============================] - 4s 14ms/step - loss: 1.4051 - accuracy: 0.5908
Epoch 2/15
303/303 [==============================] - 1s 5ms/step - loss: 0.6951 - accuracy: 0.7063
Epoch 3/15
303/303 [==============================] - 1s 5ms/step - loss: 0.6148 - accuracy: 0.7096
Epoch 4/15
303/303 [==============================] - 1s 5ms/step - loss: 0.5830 - accuracy: 0.7162
Epoch 5/15
303/303 [==============================] - 1s 5ms/step - loss: 0.5567 - accuracy: 0.6997
Epoch 6/15
303/303 [==============================] - 1s 4ms/step - loss: 0.5548 - accuracy: 0.7195
Epoch 7/15
303/303 [==============================] - 1s 5ms/step - loss: 0.5350 - accuracy: 0.7426
Epoch 8/15
303/303 [==============================] - 1s 5ms/step - loss: 0.5080 - accuracy: 0.7327
Epoch 9/15
303/303 [==============================] - 1s 5ms/step - loss: 0.5410 - accuracy: 0.7393
Epoch 10/15
303/303 [==============================] - 1s 5ms/step - loss: 0.5197 - accuracy: 0.7459
Epoch 11/15
303/303 [==============================] - 1s 5ms/step - loss: 0.5077 - accuracy: 0.7360
Epoch 12/15
303/303 [==============================] - 1s 5ms/step - loss: 0.4901 - accuracy: 0.7558
Epoch 13/15
303/303 [==============================] - 1s 4ms/step - loss: 0.4870 - accuracy: 0.7360
Epoch 14/15
303/303 [==============================] - 1s 4ms/step - loss: 0.4765 - accuracy: 0.7690
Epoch 15/15
303/303 [==============================] - 1s 4ms/step - loss: 0.5019 - accuracy: 0.7558